{% extends 'main/base.html' %}

{% block title %} Update Page {% endblock %}

{% block content %}

div class="row justify-content-center">

  <div class="col-md-6 ">
    <h2>Write your Blog</h2>
      

    <form  action="{% url 'main:blog_update_view' blog.id %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
      {% csrf_token %} 
      <label>Title: </label>
      <input type="text" name="title" value="{{ blog.title }}" style="background-color: #f9f0e3;" />
    
      <label>Content: </label>
      <textarea name="content" style="background-color: #f9f0e3;" > {{ blog.content }}</textarea> 
          
      <label>Category: </label>

      <select name="category" style="background-color: #f9f0e3;">
        {% for value, title in blog.Categorys %}
        <option value="{{value}}" {% if blog.category == value %} selected {% endif%}>{{title}}</option>
        {% endfor %}
      </select>

      <div class="d-flex gap-2 align-items-center">
        <h5>Current Image:</h5>
        <img src="{{ blog.image.url }}"  class="rounded-4 object-fit-cover book-poster-update" width="150" height="150" />
    </div>
    <input type="file" name="image" class="form-control" style="background-color: #f9f0e3;"/>



      <label>Publish Date:</label>
      <input type="date" name="publish_date" value="{{ blog.publish_date.isoformat }}"style="background-color: #f9f0e3;"  />
      
      <input type="submit" value="Update Blog" class="btn btn-outline-warning" style="background-color: #f1683e;" />
          
    </form>
  </div>
</div>

{% endblock %}