{% extends 'blog/base.html'%}
{% load static%}


{%block title%} Add post {%endblock%}


{%block background%}

<div>
    <div style="background-image: url('/static/images/add_background.jpg');" class="background effect"></div>
</div>

{%endblock%}


{%block content%}


<div  class="container mt-4 p-3" style="background-color: white; opacity: 0.9;"> 

    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="d-flex flex-column justify-content-center align-items-center mt-3 ">
            <h1 > Adding a new opst</h1> 
            </div>

            <form action="{% url 'blog:add_post_view'%}" method="post" enctype="multipart/form-data" class="d-flex flex-column justify-content-center align-items-center">
                {% csrf_token %} 

                <label style="font-size: 25px;" > Title </label>
                <input size="40" type="text" name="title" class="form-control">


                <label style="font-size: 25px;"> Content </label>
                <textarea name="content" class="form-control"> </textarea> 


                <label style="font-size: 25px;" > Category </label>
                <select  name="category" class="form-control">
                    <option value="selected" selected>Choose a category</option>
                    {%for value,title in Post %} 
                    <option value="{{value}}"> {{title}}</option>
                    {%endfor%}
                </select>

                <label style="font-size: 25px;"> Choose Image </label>
                <input name="image" type="file" class="form-control"/>

                <label class="mt-3" style="font-size: 25px;"> Publish Date </label>
                <input type="datetime-local" name="publish_date" class="form-control" >

                <input type="submit" value="Add Post" class="btn btn-warning btn-lg mt-4"/> 

            </form>
        </div>
    </div>

</div>



{%endblock%}


