{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Blog - Posts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <style>
        .post {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        
        .post-image {
            max-width: 200px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h3>POSTS</h3>
    {% for post in posts %}
        <div class="post">
            <div>
                <h4>{{ post.title }}</h4>
                <p>{{ post.content }}</p>
                <p>Category: {{ post.category }}</p>
                <p>Date: {{ post.publish_date }}</p>
                <p>
                    <a href="{% url 'post_detail' post_id=post.id %}">View Details</a> |
                    <a href="{% url 'delete_post' post.id %}" class="delete-link">Delete</a> |
                    <a href="{% url 'update_post' post.id %}">Update</a>
                </p>
            </div>
            <div>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" class="post-image">
                {% else %}
                    No image available.
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No posts found.</p>
    {% endfor %}
    <div class="content">
        <br><a href="{% url 'add_post' %}" class="btn"><button>Add New Post</button></a>
    </div>
</body>
</html>