{% extends 'home.html'%}



{% block content %}
<div class="dform">
  <h1 style="color: white;">Add a Blog</h1>
  <form class="form1" action="{% url 'blog:add_new_blog' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="mb-3 col-4">
      <label class="form-label">Title</label>
      <input type="text" name="title"class="form-control">
    </div>
    <div class="mb-3 col-4">
        <label for="exampleInputEmail1" class="form-label">content</label>
        <textarea name="content" class="form-control"></textarea>
      </div>
    <div class="mb-3 col-4">
      <select class="form-select" name="category" aria-label="Default select example">
        {% for value, title in Blog.category_choices %}
         <option value="{{value}}">{{title}}</option>
         {% endfor %}
      </select>
    </div>
    <div class="mb-3 col-4">
      <label for="birthdaytime">date:</label><br/>
      <input type="datetime-local" class="form-label"id="birthdaytime" name="publish_date">
    </div>

    <div class="mb-3 col-4">
      <input type="file" name="image" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary text-ali">Submit</button>
  </form>
</div>
{% endblock %}