{% extends 'home.html'%}



{% block content %}
    <div class="title1">
    Welcome to
    </div>
    <div class="frow">
        <div class="title2">
            Our Blog
            </div>
            <div class="textbar1">
                <div>
                    <p class="text-light">We are delighted to have you here, where you will find a diverse range of engaging and informative articles. We are committed to providing high-quality content and valuable information across various fields.<br/><br/>

                        Whether you are seeking tips and guidance, inspiring ideas, latest news, in-depth analysis, or captivating stories, we are here to cater to your needs. We strive to offer an enjoyable and rewarding reading experience for every visitor who browses through our pages.
                        </p>
                </div>
            </div>
    </div>
    

    {% endblock %}