{% extends 'home.html'%}

{% block content %}
<div class="w-100 text-light" style="text-align: center;">
    <h1>The title of details is {{blog.title}}</h1>
</div>
<div class="dis mb-3" style="color: white;">
    <h3>{{blog.title}}</h3>
    <img src="{{blog.image.url}}" width="150px" height="200px">
    <p>{{blog.content}}</p>
    <h4>{{blog.category}}</h4>
    <h4>{{blog.publish_date}}</h4>
</div>

<div style="width: 100%; height: 30; padding-top: 24px; align-items: center; justify-content: center;">
    <a href="{% url 'blog:del_blog' blog.id%}" class="btn btn-primary">Delete</a>
    <a href="{% url 'blog:blog_update' blog.id%}" class="btn btn-primary">Update</a>
</div>


<div >
    <h1 style="color: #fff;">Comment</h1>
    {% for comment in comments %}
    <div class="form_comment">
        <h4>{{comment.name}}</h4>
        <h6>{{comment.content}}</h6>
        <p>{{comment.created_date}}</p>

    </div>
    {%endfor%}
</div>
<form action="{% url 'blog:blog_detail' blog.id %}" method="post" class="mt-4">
    {% csrf_token %}
    <input type="text" class="form-control" name="name"  placeholder="Your Name"/>
    <textarea  class="form-control mt-2" name="content"  placeholder="Your comment"></textarea>
    <input class="btn btn-primary mt-2" type="submit" value="Add Comment" />
</form>

    {% endblock %}