{% extends 'home.html'%}



{% block content %}
<div class="dform">
  <h1 style="color: white;">Add a Blog</h1>
  <form class="form1" action="{% url 'blog:blog_update' blog.id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="mb-3 col-4">
      <label class="form-label">Title</label>
      <input type="text" name="title"class="form-control" value="{{blog.title}}">
    </div>
    <div class="mb-3 col-4">
        <label for="exampleInputEmail1" class="form-label">content</label>
        <textarea name="content" class="form-control">{{blog.content}}</textarea>
      </div>
    <div class="mb-3 col-4">
      <select class="form-select" name="category" aria-label="Default select example">
        {% for value, title in blog.category_choices %}
         <option value="{{value}}" {% if blog.category == value %} selected {% endif %}>{{title}}</option>
         {% endfor %}
      </select>
    </div>
    <div class="d-flex gap-2 align-items-center">
      <h5>Current Image:</h5>
      <img src="{{ blog.image.url }}"  width="50px" height="70px" class="rounded-4 object-fit-cover book-poster-update" />
    </div>
    <input type="file" class="form-control"  name="image"/>


    <div class="mb-3 col-4">
      <label for="birthdaytime">date:</label><br/>
      <input type="datetime-local" class="form-label"id="birthdaytime" name="publish_date" value="{{blog.publish_date.isoformat}}">
    </div>
    <button type="submit" class="btn btn-primary text-ali">Submit</button>
  </form>
  <!-- <button href="url 'blog:'"class="btn btn-primary"></button> -->
</div>
{% endblock %}