{% extends 'main/base.html' %}

{% block title %} Details {{ book.title }} {% endblock %}

{% block content %}
<div class="d-flex flex-column gap-2">
    <h1>{{ new.title }}</h1>
    <div class="d-flex justify-content-between">
        <h3>{{new.content}}</h3>
        <div>
            <a href="{% url 'main:updeat_view' new.id %}" class="btn btn-warning">Update</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
        </div>
    </div>
    <div class="col d-flex justify-content-end gap-4">
      <img src="{{ new.image.url }}" class="rounded-4" />
      <p>{{ new.category }}</p>
      <p>{{new.publish_date}}</p>
    </div>

    <h4>Comments</h4>
    <div class="mt-4">

        {% for comment in comments %}
            <div class="d-flex flex-column gap-1 border border-1 rounded p-4 mt-3">
                <h4>{{comment.name}}</h4>
                <h6>{{ comment.created_at }}</h6>
                <p>{{ comment.content }}</p>
            </div>
            
        {% endfor %}
    </div>

    <div class="row mt-4">
        <div class="col-6">

            <form action="{% url 'main:detail_view' new.id %}" method="post" >
                {% csrf_token %}
                <input type="text" class="form-control" name="name"  placeholder="Your Name"/>
                <textarea  class="form-control mt-2" name="content"  placeholder="Your comment"></textarea>


                <input class="btn btn-primary mt-2" type="submit" value="Add Comment" />

            </form>

        </div>
    </div>
</div>




<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Book</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <span class="fw-bold">{{new.title}}</span> ? 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'main:delete_view' new.id %}"  class="btn btn-danger">Yes, Delete!</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}