{% extends 'main/base.html' %}

{% block title %} Recipes Home {% endblock %}


{% block content %}
<div class="container mt-3">
    
    <h2>Add Recipes</h2>
    <form action="{% url 'main:add_recpie' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            <div class="mb-3 mt-3">
                <label for="title-recipes">Title recipe:</label>
                <input class="form-control" rows="5"  name="title_recipes" placeholder="Chocolate chip cookies"></input>
            </div>
            <div class="mb-3 mt-3">
                <label for="category">Select the country of recipe:</label>
                <select class="form-select"   name="category">
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="United Kingdom">United Kingdom </option>
                    <option value="United States">United States</option>
                    <option value="Italy">Italy</option>
                    <option value="France">France</option>
                    <option value="Australia">Australia</option>
                    <option value="Japan">Japan</option>
                    <option value="Brazil">Brazil</option>
                    <option value="India">India</option>
                </select>
            </div>
            
        <div class="mb-3 mt-3">
            <label for="Ingredients">Ingredients:</label>
            <textarea class="form-control" rows="5"  name="Ingredients" placeholder="
            Caster sugar :135 g
            Dark muscovado sugar: 127.5 g
            Egg: 1 piece
            Vanilla powder:0.5 tsp
            Plain flour: 210 g
            Baking powder: 1 tsp
            Bicarbonate of soda: 0.5 tsp
            Salt: 1 pinch
            Roughly chopped dark chocolate: 225 g
            Flake salt"></textarea>
        </div>
        <div class="mb-3 mt-3">
            <label for="Instructions">Instructions:</label>
            <textarea class="form-control" rows="5"  name="Instructions" placeholder="   Pre-heat the oven to 180 °C.
            Whisk the butter, sugar and muscovado sugar together at a high speed until fluffy. Add the egg and vanilla then mix thoroughly.
            Sift the flour, baking powder, bicarbonate of soda and salt. Carefully add it to the butter mixture until mixed well into a dough. Add the chocolate.
            Roll approximately 18 balls from the dough. Evenly place them on two baking trays covered with baking paper.
            Bake in the middle of the oven for around 10 minutes.
            Allow the cookies to rest on the trays for a few minutes then transfer to a wire rack to cool. Sprinkle a pinch of crumbled flake salt on top.
            "></textarea>
            </div>
            <div class="mb-3 mt-3">
                <label>Publish Date:</label>
                <input type="date" name="publish_date" />
            </div>
            <div class="mb-3">
                
                <label for="formFile" class="form-label">Choose picture</label>
                <input class="form-control" type="file" name="image" id="formFile">
              </div>

            <input type="submit" value="Add recpie" class="btn btn-secondary"/>  
        </form>
    </div>

    {%endblock%}