{% extends 'main/base.html'%}
{% load static %}

{% block title %} Everyday Eclectica Blogs {% endblock %}

{% block content %}
<style>
    .more{
    font-size: 20px;
    margin-left: 350px;
    width:290px;
    background-color:rgb(202, 112, 112);
    color:rgb(15, 37, 30);
    border-color: rgb(15, 37, 30);
    }
    .image{
        margin-left: 25%;
        width: 500px;
        height: 300px;
        
    }

</style>
<p class="row">
    <p class="col">
        <h1 class="title"> Everyday Eclectica Blogs | </h1>

    </p>
</p>


{% for blog in blogs %}

    <div class="border border-1 rounded-4 p-3 mt-1 blog_box row ">
        <div class="col ">     
        <h3 >{{ blog.title }}</h3>
        <p id="category">category: {{ blog.category }}</h6>
            <div class="row">
            <img src="{{ blog.image.url }}" class="rounded-3 image" />    
        </div></div>
        <div class="col">
        <p>{{ blog.content }} </p>
        <a href="{% url 'main:blog_detail_view' blog.id %}" class="btn btn-primary more">more</a>

    </div>

         </div>

{% endfor %}


{%endblock%} 
