{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style/main.css' %}" />
    
    </head>
    <body>
            <div class="row">
                <p class="title  text-center"> Recipes Blog </p>
            </div>
           
            <div class="container ">
                
                    <header class="d-flex flex-wrap  align-items-center justify-content-center   mb-3 border-bottom ">
                      
                
                      <ul class="nav col-12 mb-2 justify-content-center  ">
                        <div class="col-md-3 text-start me-5 ms-5 d-flex">
                          {% if request.user.is_authenticated %}
                          <a href="{% url 'users:logout_user' %}" class="btn btn-outline-secondary me-2 rounded-5  desblog">Logout</a>
                          <a href="#" class="btn  me-2  rounded-5 desblog"> {{ request.user.first_name }}</a>
                          

                           {% else %} 

                          <a href="{% url 'users:login_user' %}" class="btn btn-secondary me-2 rounded-5  desblog">Login</a>
                          <a href="{% url 'users:register_user' %}" class="btn btn-outline-secondary rounded-5 desblog">Sign-up</a>
                          {% endif %}  
                        </div>

                        <li><a href="/" class="nav-link ms-5 me-2 ">Home</a></li>
                        <li><a href="{% url 'main:post_view' %}" class="nav-link me-2">Posts</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'main:user_fav_recpie' %}" class="nav-link me-5">Fav</a></li>
                        {% endif %}  

                       <li class="text-end ms-5">
                       
                           <form action="{% url 'main:post_view' %}" method="get"  class="d-inline-flex  serchbox"> 
                             <select class="form-select"   name="category">
                              <option value="all" selected>country of recpie</option>
                              <option value="Saudi Arabia">Saudi Arabia</option>
                              <option value="United Kingdom">United Kingdom </option>
                              <option value="United States">United States</option>
                              <option value="Italy">Italy</option>
                              <option value="France">France</option>
                              <option value="Australia">Australia</option>
                              <option value="Japan">Japan</option>
                              <option value="Brazil">Brazil</option>
                              <option value="India">India</option>
                          </select> 
                          <button class="btn  me-0 " type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                              <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                           </button>
                          <input class="form-control  " type="search" name="search" placeholder="Search" aria-label="Search">
                         <button class="btn  me-0 " type="submit">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                         </button> </form> 
                       
                        </li>
                      </ul>
                      
                      

                      
                
                      
                    </header>
                  
            </div>
       
       
        
        {% block content %}

            {% endblock %}

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> 
    </body>
</html>