{% extends 'main/base.html' %}

{% block title %} Recipe details {% endblock %}


{% block content %} 
<div class="row d-flex justify-content-center pb-4 ">
    <img src={{recpie.image.url}} />
</div>
<div class="container border p-4 mb-5 d-flex">
   
    <div class="col p-4 d-flex flex-column position-static  ">
        <strong class="d-inline-block mb-2 text-primary-emphasis">recipe</strong>
        <h3 class=" display-6 titleblog">{{recpie.title_recipes}}</h3>
        <div class="mb-1 text-body-secondary titlerecipes"> publish date :{{recpie.publish_date}}</div>
        <div class="mb-1 text-body-secondary titlerecipes"> country of recipe :{{recpie.category}}</div>
        <strong class=" mb-2 text-primary-emphasis ">Ingredients :</strong> 
        <p class="card-text mb-auto desblog">
          {{recpie.Ingredients}}</p>
        <strong class="d-inline-block mb-2 text-primary-emphasis"> Instructions:  </strong>
        <p class="card-text mb-auto desblog">
            {{recpie.Instructions}}</p>
        <div class=" p-3 flex-column gap-4 mt-5">
            <a class="btn btn-outline-warning ms-3 " href="{% url 'main:update_recpie' recpie.id %}">Update »</a>
            <a class="btn btn-outline-danger ms-3" href="{% url 'main:delete_recpie' recpie.id %}">Delete »</a>
        </div> 
        <div class="container  p-4 mb-5 d-flex row">
            <h1 class="titleblog p-4">Comments</h1>
            <div class="container  ">
                {%for comment in comments%}
                <div class=" border rounded-3 p-4 mt-3">
                <h6 class="fw-bold text-primary-emphasis mb-1 mt-3 titleblog">{{comment.name}}</h6>
                <p class="text-muted small mb-0 ">
                    Shared At - {{comment.created_at}}
                </p>
                <p class="mt-3 mb-4 pb-2 desblog">
                    {{comment.content}}
                </p>
                </div>
        
                {%endfor%}
            </div>

            <form action="{% url 'main:detail_recpie' recpie.id %}" method="post" class="form-outline w-100">
                {% csrf_token %}
               
                <h5 class="mt-5 titleblog "> Add comment </h5>
                <input type="text" class="form-control mt-2 " name="name" placeholder=" your name" rows="4" style="background: #fff;"/>
                <label class="mt-4">Rating: </label>
                <select name="rating" class="form-select mt-1" >
                    {% for value, title in Comment.rating_choices %}
                    <option value="{{value}}">{{title}}</option>
                {% endfor %}
                </select>
                <textarea name="content" class="form-control mt-4"  rows="4"
                style="background: #fff;" placeholder="Comments"></textarea>
               
                <input type="submit" value="Post comment" class="btn btn-outline-success   mt-4"/>  
              


            </form>

        </div> 
    </div>
            
</div>

{%endblock%}