{% extends 'main/base.html' %}
{% load static %}

{% block title %} Result {% endblock %}

{% block content %}
<div class="row gap-4">
{% for post in posts %}
    <div class="card col-4 mt-4" style="width: 18rem;">
      <img src="{{post.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title pb-2">{{ post.title }}</h5>
          <p class="card-text">Category: {{ post.category }} <br> {{ post.publish_date }}</p>
          <a href="{% url 'main:post_detail_view' post.id %}" class="btn btn-primary">Read more</a>
        </div>
      </div>
{% endfor %}
</div>
{% endblock %}