{% extends 'main/base.html'%}
{% load static %}

{% block title %} Everyday Eclectica {% endblock %}

{% block content %}

    
<div class="row about_box">
    <div class="col-7">

    <span id="word" font-size="60px">Everyday Eclectica </span> blogs where individuals share personal experiences, insights, 
    and interests from their everyday existence. These blogs offer readers a window into the author's life, covering a diverse range of topics such as travel adventures,
     outfit of the day and home decor inspiration, and more. Whether it's a delicious recipe discovered, a memorable travel adventure, or a helpful life hack,
    lifestyle blogs provide a space for writers to connect with an audience seeking inspiration and relatable stories from the tapestry of daily life.<br>
    <a id="add" href="http://127.0.0.1:8000/add"> be one of them <span class="material-symbols-outlined">add</span></a>
</div></div>

{%endblock%}