{% extends 'main/base.html' %}

{% block title %} Home page {% endblock %}

{% block content %}
<div class="px-3 home_img">
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col-lg-8 col-md-10 mx-auto pt-5">
            <h1 class="pt-5">welcome in this blog</h1>
            <p class="lead">You can buy attention (advertising). You can beg for attention from the media (PR). You can bug people one at a time to get attention (sales). Or you can earn attention by creating something interesting and valuable and then publishing it online for free.</p>
            <p class="lead">
                <a href="{% url 'main:Posts_view' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">all Posts</a>
                <a href="{% url 'main:add_post_view' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">add new Post</a>
            </p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
