{% extends 'main/base.html' %}

{% block title %} {{ recipe.title }} recipe{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex flex-column mt-2">
        <h1>{{ recipe.title }}</h1>
        <div class="d-flex justify-content-end">
            <div>
                <a href="{% url 'main:recipe_update_view' recipe.id %}" class="btn btn-warning">Update</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
        </div>

        <div class="row">
            <div class="col-4"><img src="{{ recipe.image.url }}" class="rounded-4 w-100" /></div>
            <div class="col">
                <div>
                    <h3>{{recipe.catagory}}</h3>
                    <p>{{ recipe.content }}</p>
                    <h4>{{recipe.publish_date}}</h4>
                </div>
            </div>
        </div>

        <hr />

        <h4>Comments</h4>
        <div class="mt-4">

            {% for comment in comments %}
                <div class="d-flex flex-column gap-1 border border-1 rounded p-4 mt-3">
                    <h4>{{comment.name}}</h4>
                    <h6>{{ comment.created_at }}</h6>
                    <p>{{ comment.content }}</p>
                </div>
                
            {% endfor %}
        </div>

        <div class="row mt-4">
            <div class="col-6">

                <form action="{% url 'main:recipe_detail_view' recipe.id %}" method="post" >
                    {% csrf_token %}
                    <input type="text" class="form-control" name="name"  placeholder="Your Name"/>
                    <textarea  class="form-control mt-2" name="content"  placeholder="Your comment"></textarea>

                    <label>Rating: </label>
                    <select name="rating" class="form-select">
                        {% for value, title in Comment.rating_choices %}
                            <option value="{{value}}">{{title}}</option>
                        {% endfor %}
                    </select>

                    <input class="btn btn-primary mt-2" type="submit" value="Add Comment" />

                </form>

            </div>
        </div>

        <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Book</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <span class="fw-bold">{{recipe.title}}</span> ? 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'main:recipe_delete_view' recipe.id %}"  class="btn btn-danger">Yes, Delete!</a>
        </div>
      </div>
    </div>
  </div>
<!-- End  Modal -->

        
    </div>
</div>
{%endblock%}