{% extends 'main/base.html' %}

{% block title %} update page {{post.title}} {% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Adding post</h2>
        <form  action="{% url 'main:post_update_view' post.id %}" method="post" class="d-flex flex-column gap-2">
            {% csrf_token %}
            <label>title</label>
            <input type="text" name="title" value="{{post.title}}" class="form-control"/>
            <label>content:</label>
            <textarea name="content" class="form-control" >{{post.content}}</textarea>
            <label>category</label>
            <select name="category" class="form-control">
                <option value="Travel"> 1-Travel blogs  </option>
                <option value="Lifestyle"> 2-Lifestyle blogs </option>
                <option value="Personal"> 3-Personal blogs </option>
                <option value="Food"> 4-Food blogs </option>
                <option value="Health"> 5-Health blogs </option>
            </select>

            <div class="d-flex gap-2 align-items-center w-150 h-150">
                <h5>Current Image:</h5>
                <img src="{{ post.image.url }}"  class="rounded-4 object-fit-cover post-poster-update w-150 h-150 " />
            </div>
            <input type="file" name="image" class="form-control"/>
            <label>Choose Image: </label>
            <label>publish_date</label>
            <input type="datetime-local" name="publish_date" value="{{ post.publish_date.isoformat }} "class="form-control" />
            <input type="submit" value="Add post" class="btn btn-primary"/>
        </form>
    </div>
</div>

{% endblock %}

